</DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{{ post.title }} - Blog</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>

<body>

    <!-- Navigation -->
     <nav class="blog-nav">
        <a href="{{ url_for('home') }}" class="back-btn"> Back to Home</a>
     </nav>

     
     <!-- Main Blog Container -->
        <main class="post-container">

          <!-- Category -->
         {% if post.category %}
          <div class="post-category">
               {{ post.category }}
          </div>
         {% endif %}
         
         <!-- Title -->
          <h1 class="post-title">
            {{ post.title }}
          </h1>

          <!-- Author -->
          <div class="post-author">
            <span>✍️</span>
            <span>Posted by <strong>{{ post.author }}</strong></span>
          </div>

          <!-- Blog Image -->
           {% if post.image %}
               <div class="post-image-comtainer">
                 <img
                     src="{{ uel_for('static', filename='uploads/' + post.image) }}"
                     alt="{{ post.title }}"
                     class="post-image">

               </div>
            
            {% endif %}
            
            <!-- Blog Content -->
             <articale class="post-content">
                {{ post.content }}
             </articale>

             <!-- Like Section -->
              <div class="post-actions">

                <a href="{{ url_for('like_post', post_id=post.id) }}"
                   class="like-btn">
                     ❤️ Like 
                </a>

                <span class="like-count">
                    {{ post.likes}} Likes
                </span>

              </div>
              
              <!-- Comment Section -->
                <section class="comment-section">
                     
                     <h2>💬 comment</h2>


                    <!-- Add Comment -->
                    {% if current_user.is_authenticated %}

                        <from method="POST" class="comment-form">

                            <textarea
                                name="content"
                                placeholder="Weite your comment....."
                                required>
                            </textarea>

                            <button type="submit">
                               post comment
                            </button>

                        </from>

                    {% endif %}
                
                    <!-- Exixting comments -->
                    <div class="comment-list">

                        {% if comment %}
                    
                            {% for comment in comment %}
                          
                               <div class="comment">

                                   <div class="comment-author">
                                      🤵{{ comment.author}}
                                   </div>

                                   <div class="comment-content">
                                      {{comment.content }}
                                   </div>
                               </div>

                            {% endfor %}
                        {% endfor %}
                    
                            <p class="no-comment">
                                NO comment yet. Be the first to comment!
                            </p>
                        {% endif %}

                    </div>

                </section>     
    </main>  
</body>
</html>