<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Register</title>

<style>
body{
    font-family: Arial, sans-serif;
    background:#f4f4f4;
}
.container{
    width:350px;
    margin:80px auto;
    background:white;
    padding:40px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}
input{
    width:100%;
    padding:10px;
    margin:10px 0;
}
button{
    width:100%;
    padding:10px;
    background:#007BFF;
    color:white;
    border:none;
    cursor:pointer;
}
button:hover{
    background:#0056b3;
}
a{
    text-decoration:none;
}
</style>
</head>
<body>

<div class="container">
<h2>Create Account</h2>

<form method="POST" action="/register">
<input type="text" name="username" placeholder="Full Name" required>

<input type="email" name ="email" placeholder="Email" required>

<input type="password" name="password" placeholder="password" required>

<input type="password" name="Confirm password" placeholder="conform_password" required>

<button type="submit">Register</button>
</form>

<p>Already have an account?
<a href="/">Login</a>

</div>

</body>
</html>